nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .box3 {
    display: flex;
    align-items: center;
}

.box2 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.box2 a:hover {
    color: blue;
    transition: 0.5s;
}

.box2 {
    display: flex;
    gap: 20px;
}


.box3 a {
    text-decoration: none;
    color: blue;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid blue;
    padding: 8px;
    border-radius: 5px;
}


header {
    display: flex;
    align-items: center;
}

header .box2 {
    background-color: aliceblue;
    padding: 200px 100px;
    border-radius: 20px;
}

header h2 {
    font-size: 30px;
    width: 400px;
}

header .box1 img:hover {
    width: 500px;
    transition: 10s;
}

main {
    padding: 60px 30px ;
}

main .info1{
    display: flex;
}

main .info1 .box img {
    border-radius: 20px;
}

main .info1 .box p {
   font-size: 20px;
   font-weight: 600;
   width: 350px;
}

.info2 {
    padding: 30px;
}

.announcement {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.info2 h2 {
    font-style: 35px;
    font-weight: 600;
    color: rgb(65, 74, 148);
}

.announcement img {
    border-radius: 20px;
}

.announcement .box2 {
    border-color: rgb(236, 236, 247);
    padding: 165px 100px;
    border-radius: 20px;
}
.announcement h2 {
    font-style: 30px;
    width: 400px;
}

.box1 img:hover {
    width: 500px;
    transition: 10s;
}


footer {
    display: flex;
    justify-content: space-around;
}

footer h2 {
    font-size: 12px;
    font-weight: 600;
}

footer p {
    font-size: 9px;
    color: rgb(67, 67, 111);
}

.footerBottom{
    text-align: center;
}

.footerBottom .box11 img {
    width: 140px;
}

.footerBottom .box22 img {
    width: 100px;
    padding-bottom: 40px;
}

.footerBottom .box img {
    width: 50px;
}




@media only screen and (max-width: 600px) {
    .box3 a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 18px;
        border: 2px solid black;
        padding: 8px;
        width: 100px;
        text-align:center;
        border-radius: 5px;
    }

    header .box1 {
        display: none;
    }

    header .box2 {
        background-color:aliceblue;
        padding: 100px 170px;
        border-radius: 20px;
    }

    .header .box2 h2 {
        font-size: 10px !important;
    }

}
